@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@900&display=swap');
*{
    margin:0px;
    padding:0px;
}
body{
    background: linear-gradient(132deg, rgb(65, 80, 95) 0.00%, rgb(36, 37, 38) 100.00%);
}